INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=me
INSTAGRAM_GRAPH_VERSION=v25.0
INSTAGRAM_API_BASE_URL=https://graph.instagram.com
INSTAGRAM_MEDIA_LIMIT=12
INSTAGRAM_FEATURED_MEDIA_IDS=
INSTAGRAM_HIGHLIGHT_STORIES=
CONTACT_EMAIL_RECIPIENTS=
CONTACT_EMAIL_FROM=Floreria Camelia <hola@tudominio.com>
RESEND_API_KEY=
EMAIL_DUO_DEVS_RESEND_API_KEY=
EMAIL_DUO_DEVS_RESEND_EMAIL_DOMAIN=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
BLOB_READ_WRITE_TOKEN=
