

.container{
    text-align: center;
}

.div_background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/image.png");
    padding: 1rem;
    background-attachment: fixed;
    border-radius: 50px;
}


.div_background img {
    align-self: center;
}

.container h1 {
    font-family: Lobster, sans-serif;
    font-weight: 400;
    margin-bottom: auto;
}