/* Variables para el esquema de colores claro */
:root {
  --spacing: 10px;
}

/* Variables para el esquema de colores oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --spacing: 10px;
  }
}

body {
  min-height: 80vh;
  padding-left: calc(var(--spacing) * 5);
  padding-right: calc(var(--spacing) * 5);
  
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/image.png");
  background-size: cover;
  background-attachment: fixed;
}


#iframeMapa {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}


