/* Variables para el esquema de colores claro */
:root {
  --spacing: 10px;
}

/* Variables para el esquema de colores oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --spacing: 10px;
  }
}

body {
  min-height: 80vh;
  padding-left: calc(var(--spacing) * 5);
  padding-right: calc(var(--spacing) * 5);
}





