.container > article > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container > article > h1 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}

.container > :first-child {
  margin-bottom: 1rem;
  border: none;
}

.container > :first-child h1{
  font-family: Lobster, sans-serif;
  font-weight: 400;
}

.subcontainer {
  align-items: inherit;
  text-align: center;
  font-size: 0.85rem;
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
}

