
  
  
  .form_card label {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
  
  .form_card input,
  .form_card textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 2em;
  }
  
  .form_card textarea {
    height: 100px;
  }
